<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitWeb</title>
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
<div class="class-box">
    <div class="class-form-add-repo">
        <button type="submit" class="class-button-add-repo" data-action="showInput">创建新仓库</button>
        <input class="class-input-add-repo" type="text" placeholder="请输入新仓库名，不能用中文哦">
    </div>
    <div class="class-container">
        <!-- 消息群组-->
        <div class="class-repo-list" data-action="clickRepo">
{#                {% for room in room_list %}#}
{#                    {% if room.id == current_room.id %}#}
{#                    <div class="msg-room-name currnet-repo div-room-{{room.id}}" data-id={{room.id}}>{{room.name}}</div>#}
{#                    {% else %}#}
{#                    <div class="msg-room-name div-room-{{room.id}}" data-id={{room.id}}>{{room.name}}</div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
        </div>

        <!-- 消息体 -->
{#        <div class="class-repo-body" data-room_id={{current_room.id}}>#}
        <div class="class-repo-body">
            <div class="class-repo-title">
                <div id="id-repo-title"></div>
            </div>
{#            <div class="msg-list">#}
{#                {% for m in msg_list %}#}
{#                    {% if m.user_id == current_user.id %}#}
{#                        <div class="msg-cell-me">#}
{#                            <div class="msg-cell-body">#}
{#                                <div class="msg-cell-me-username">#}
{#                                    {{m.username}}#}
{#                                </div>#}
{#                                <div id="msg-cell-me-msg" class='msg-cell-msg' data-msg_id={{m.id}}>#}
{#                                    {{m.msg}}#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="msg-cell-avatar">#}
{#                                <img class="msg-cell-avatar-img" src="/static/img/avatar/{{m.avatar}}">#}
{#                            </div>#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div class="msg-cell-you">#}
{#                            <div class="msg-cell-avatar">#}
{#                                <img class="msg-cell-avatar-img" src="/static/img/avatar/{{m.avatar}}">#}
{#                            </div>#}
{#                            <div class="msg-cell-body">#}
{#                                <div class="msg-cell-you-username">#}
{#                                    {{m.username}}#}
{#                                </div>#}
{#                                <div id="msg-cell-you-msg" class='msg-cell-msg' data-msg_id={{m.id}}>#}
{#                                    {{m.msg}}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#            <div class="msg-input">#}
{#                <textarea id="id-input" placeholder="输入消息 按回车发送" data-action="msg-send"></textarea>#}
{#            </div>#}
        </div>

        <!-- 消息成员 -->
{#        <div class="msg-member">#}
{#            <div class="msg-member-title">群成员</div>#}
{#            <div class="member-list">#}
{#                {% for m in member_list %}#}
{#                <div class="msg-member-cell" id="msg-member-cell-{{m.id}}">#}
{#                    <div class="msg-member-avatar">#}
{#                        <img class="msg-member-avatar-img" src="/static/img/avatar/{{m.avatar}}">#}
{#                    </div>#}
{#                    <div class="msg-member-username">{{m.username}}</div>#}
{#                </div>#}
{#            {% endfor %}#}
{#            </div>#}
{#        </div>#}
    </div>
</div>

<!-- 工具 -->
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/utils.js"></script>
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/type.js"></script>
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/api.js"></script>
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/action.js"></script>
<!-- 业务逻辑 -->
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/repo.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/compileJs/main.js"></script>
</body>
</html>
