<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitWeb</title>
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
<div class="class-box" data-username="">
    <div class="class-form-add-repo">
        <button type="submit" class="class-button-add-repo" data-action="showInput">创建新仓库</button>
        <input class="class-input-add-repo" type="text" placeholder="请输入新仓库名，不能用中文哦">
    </div>
    <div class="class-container">

        <div class="class-repo-list" data-action="clickRepo"></div>

        <div class="class-repo-body" data-repo="">
            <div class="class-repo-menu">
                <div class="class-item-clone"></div>
            </div>
            <table class="class-files-table">
                <thead class="class-files-head"></thead>
{#                    <tr>#}
{#                    <th class="four wide">#}
{#                    <img class="ui avatar image img-12" src="https://secure.gravatar.com/avatar/1ef60960c2a690d14a2abbbf63ab0f86?d=identicon">#}
{#                    <a href="/haxi"><strong>haxi</strong></a>#}
{#                    <a rel="nofollow" class="ui sha label" href="/haxi/gitWeb/commit/b09c6c64d517aeba795b05b5015f0475424dd8cb">b09c6c64d5</a>#}
{#                    <span class="grey has-emoji">Add 'test/test1.txt'</span>#}
{#                    </th>#}
{#                    <th class="nine wide">#}
{#                    </th>#}
{#                    <th class="three wide text grey right age"><span class="time-since poping up" title="" data-content="Sun, 30 Apr 2023 05:21:44 UTC" data-variation="inverted tiny">9 minutes ago</span></th>#}
{#                    </tr>#}
                <tbody class="class-files-body">
                </tbody>
            </table>
        </div>

        <!-- 消息成员 -->
{#        <div class="msg-member">#}
{#            <div class="msg-member-title">群成员</div>#}
{#            <div class="member-list">#}
{#                {% for m in member_list %}#}
{#                <div class="msg-member-cell" id="msg-member-cell-{{m.id}}">#}
{#                    <div class="msg-member-avatar">#}
{#                        <img class="msg-member-avatar-img" src="/static/img/avatar/{{m.avatar}}">#}
{#                    </div>#}
{#                    <div class="msg-member-username">{{m.username}}</div>#}
{#                </div>#}
{#            {% endfor %}#}
{#            </div>#}
{#        </div>#}
    </div>
</div>

<!-- 工具 -->
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/utils.js"></script>
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/type.js"></script>
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/api.js"></script>
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/action.js"></script>
<!-- 业务逻辑 -->
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/repo.js"></script>
<script type="text/javascript" charset="utf-8"  src="../static/compileJs/file.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/compileJs/main.js"></script>
</body>
</html>
