<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
    <h1>登录</h1>
    <div>
        <input class="input-username" type="text" name="username" placeholder="请输入用户名">
        <br>
        <input class="input-password" type="text" name="password" placeholder="请输入密码">
        <br>
        <button class="class-button-login" data-action="click">登录</button>
    </div>

    <!-- 工具 -->
    <script src="../static/compileJs/utils.js"></script>
    <script src="../static/compileJs/api.js"></script>
    <script src="../static/compileJs/action.js"></script>
    <!-- 逻辑 -->
    <script src="../static/compileJs/login.js"></script>
</body>
</html>