<!DOCTYPE html>
<html lang="en">
<head data-suburl="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="haxi">
    <meta name="description" content="gitWeb">
    <meta name="keywords" content="go, git, self-hosted, gogs">
    <meta name="referrer" content="no-referrer">
    <meta name="_csrf" content="JSynGvuCNY32S_zIT9POMXIr3W86MTY4MjkyODQ5OTc0OTIwMDQ2NA">
    <meta name="_suburl" content="">
    <meta property="og:url" content="https://try.gogs.io/haxi/gitWeb">
    <meta property="og:type" content="object">
    <meta property="og:title" content="haxi/gitWeb">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://secure.gravatar.com/avatar/1ef60960c2a690d14a2abbbf63ab0f86?d=identicon">
    <link rel="shortcut icon" href="/static/img/icon/favicon.png">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/libs/jquery.are-you-sure.js"></script>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/octicons.min.css">
    <link rel="stylesheet" href="/static/css/semantic-2.4.2.min.css">
    <link rel="stylesheet" href="/static/css/gogs.min.css?v=c53b7e9698524da9a2c80ab2c129ca4e623a25e9">
    <noscript>
        <style>
            .dropdown:hover > .menu {
                display: block;
            }

            .ui.secondary.menu .dropdown.item > .menu {
                margin-top: 0;
            }
        </style>
    </noscript>
    <script src="/static/js/semantic-2.4.2.min.js"></script>
    <script src="/static/js/gogs.js?v=c53b7e9698524da9a2c80ab2c129ca4e623a25e9"></script>
    <title>Haxi-gitWeb</title>
    <meta name="theme-color" content="#ff5343">
    <style>
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        input.bito-email-input:-webkit-autofill,
        input.bito-email-input:-webkit-autofill:hover,
        input.bito-email-input:-webkit-autofill:focus {
            -webkit-text-fill-color: rgb(255, 255, 255);
            transition: background-color 5000s ease-in-out 0s;
        }

        #bito-body::-webkit-scrollbar,
        #emptyDiv-inner::-webkit-scrollbar,
        #loginParentDiv-outer::-webkit-scrollbar {
            width: 4px;
            border-radius: 24px;
            color: #7a8084;
        }

        #bito-body::-webkit-scrollbar-thumb,
        #emptyDiv-inner::-webkit-scrollbar-thumb,
        #loginParentDiv-outer::-webkit-scrollbar-thumb {
            background: #888;
        }

        #bito-body::-webkit-scrollbar-thumb:hover,
        #emptyDiv-inner::-webkit-scrollbar-thumb:hover,
        #loginParentDiv-outer::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>
<body>
<div class="full height">
    <noscript>This website works better with JavaScript</noscript>

    <div class="following bar light">
        <div class="ui container">
            <div class="ui grid">
                <div class="column">
                    <div class="ui top secondary menu">
                        <a class="item brand" href="/">
                            <img class="ui mini image" src="/static/img/icon/favicon.png">
                        </a>


                        <a class="item" href="/">Dashboard</a>
                        <a class="item" href="/issues">Issues</a>
                        <a class="item" href="/pulls">Pull Requests</a>


                        <a class="item" href="/explore/repos">Explore</a>


                        <div class="right menu">
                            <div class="ui dropdown head link jump item poping up" data-content="Create..."
                                 data-variation="tiny inverted" tabindex="0">
											<span class="text">
												<i class="octicon octicon-plus"><span
                                                        class="sr-only">Create...</span></i>
												<i class="octicon octicon-triangle-down"></i>
											</span>
                                <div class="menu" tabindex="-1">
                                    <a class="item" href="/repo/create">
                                        <i class="octicon octicon-plus"></i> New Repository
                                    </a>
                                    <a class="item" href="/repo/migrate">
                                        <i class="octicon octicon-repo-clone"></i> New Migration
                                    </a>

                                    <a class="item" href="/org/create">
                                        <i class="octicon octicon-organization"></i> New Organization
                                    </a>

                                </div>
                            </div>

                            <div class="ui dropdown head link jump item poping up" data-content="User profile and more"
                                 data-variation="tiny inverted" tabindex="0">
											<span class="text avatar">
												<img class="ui small rounded image"
                                                     src="https://secure.gravatar.com/avatar/1ef60960c2a690d14a2abbbf63ab0f86?d=identicon">
												<span class="sr-only">User profile and more</span>
												<i class="octicon octicon-triangle-down" tabindex="-1"></i>
											</span>
                                <div class="menu" tabindex="-1">
                                    <div class="ui header">
                                        Signed in as <strong>haxi</strong>
                                    </div>

                                    <div class="divider"></div>
                                    <a class="item" href="/haxi">
                                        <i class="octicon octicon-person"></i> Your Profile
                                    </a>
                                    <a class=" item" href="/user/settings">
                                        <i class="octicon octicon-settings"></i> Your Settings
                                    </a>
                                    <a class="item" target="_blank" rel="noopener noreferrer"
                                       href="https://gogs.io/docs">
                                        <i class="octicon octicon-question"></i> Help
                                    </a>


                                    <div class="divider"></div>

                                    <form id="logout-form" class="item" action="/user/logout" method="POST">
                                        <input type="hidden" name="_csrf"
                                               value="ony1gwrwypwAO8uIRRvJ9M_qymw6MTY4MjgzMTg4NjU2OTQyNTY1NQ">
                                        <div class="submit-button" data-form="#logout-form">
                                            <i class="octicon octicon-sign-out"></i> Sign Out
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="repository file list">
        <div class="header-wrapper">
            <div class="ui container">
                <div class="ui vertically padded grid head">
                    <div class="column">
                        <div class="ui header">
                            <div class="ui huge breadcrumb class-repo-name">
                            </div>

                            <div class="ui right">
                                <form class="display inline"
                                      action="/haxi/gitWeb/action/unwatch?redirect_to=%2fhaxi%2fgitWeb" method="POST">
                                    <input type="hidden" name="_csrf"
                                           value="ony1gwrwypwAO8uIRRvJ9M_qymw6MTY4MjgzMTg4NjU2OTQyNTY1NQ">
                                    <div class="ui labeled button" tabindex="0">
                                        <button class="ui basic button">
                                            <i class="eye icon"></i>Unwatch
                                        </button>
                                        <a class="ui basic label" href="/haxi/gitWeb/watchers">
                                            1
                                        </a>
                                    </div>
                                </form>
                                <form class="display inline"
                                      action="/haxi/gitWeb/action/star?redirect_to=%2fhaxi%2fgitWeb" method="POST">
                                    <input type="hidden" name="_csrf"
                                           value="ony1gwrwypwAO8uIRRvJ9M_qymw6MTY4MjgzMTg4NjU2OTQyNTY1NQ">
                                    <div class="ui labeled button" tabindex="0">
                                        <button class="ui basic button">
                                            <i class="star outline icon"></i>Star
                                        </button>
                                        <a class="ui basic label" href="/haxi/gitWeb/stars">
                                            0
                                        </a>
                                    </div>
                                </form>

                                <div class="ui labeled button" tabindex="0">
                                    <a class="ui basic button poping up" href="/repo/fork/48798">
                                        <i class="octicon octicon-repo-forked"></i>Fork
                                    </a>
                                    <a class="ui basic label" href="/haxi/gitWeb/forks">
                                        0
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="ui tabs container">
                <div class="ui tabular menu navbar">

                    <a class="active item" href="/haxi/gitWeb">
                        <i class="octicon octicon-file-text"></i> Files
                    </a>


                    <a class=" item" href="/haxi/gitWeb/issues">
                        <i class="octicon octicon-issue-opened"></i> Issues <span class="ui gray small label">0</span>
                    </a>


                    <a class=" item" href="/haxi/gitWeb/pulls">
                        <i class="octicon octicon-git-pull-request"></i> Pull Requests <span
                            class="ui gray small label">0</span>
                    </a>


                    <a class=" item" href="/haxi/gitWeb/wiki">
                        <i class="octicon octicon-book"></i> Wiki
                    </a>


                    <div class="right menu">
                        <a class=" item" href="/haxi/gitWeb/settings">
                            <i class="octicon octicon-tools"></i> Settings
                        </a>
                    </div>

                </div>
            </div>
            <div class="ui tabs divider"></div>

        </div>

        <div class="ui container">

            <p id="repo-desc">
                <span class="no-description text-italic">No Description</span>
                <a class="link" href=""></a>
            </p>
            <div class="ui segment" id="git-stats">
                <div class="ui two horizontal center link list">
                    <div class="item">
                        <a href="/haxi/gitWeb/commits/master"><span class="ui text black"><i
                                class="octicon octicon-history"></i> <b>0</b> Commits</span> </a>
                    </div>
                    <div class="item">
                        <a href="/haxi/gitWeb/branches"><span class="ui text black"><i
                                class="octicon octicon-git-branch"></i><b>1</b> Branches</span> </a>
                    </div>
                    <div class="item">
                        <a href="/haxi/gitWeb/releases"><span class="ui text black"><i class="octicon octicon-tag"></i> <b>0</b> Releases</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="ui secondary menu">

                <div class="fitted item">
                    <a href="/haxi/gitWeb/compare/master...master">
                        <button class="ui green small button"><i class="octicon octicon-git-compare"></i></button>
                    </a>
                </div>

                <div class="fitted item choose reference">
                    <div class="ui floating filter dropdown" data-no-results="No results found." tabindex="0">
                        <div class="ui basic small button">
			<span class="text">
				<i class="octicon octicon-git-branch"></i>
				Branch:
				<strong>master</strong>
			</span>
                            <i class="dropdown icon" tabindex="0">
                                <div class="menu" tabindex="-1"></div>
                            </i>
                        </div>
                        <div class="menu" tabindex="-1">
                            <div class="ui icon search input">
                                <i class="filter icon"></i>
                                <input name="search" placeholder="Filter branch or tag...">
                            </div>
                            <div class="header">
                                <div class="ui grid">
                                    <div class="two column row">
                                        <a class="reference column" href="#" data-target="#branch-list">
							<span class="text black">
								Branches
							</span>
                                        </a>
                                        <a class="reference column" href="#" data-target="#tag-list">
							<span class="text ">
								Tags
							</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="branch-list" class="scrolling menu">

                                <div class="item selected" data-url="/haxi/gitWeb/src/master">master</div>

                            </div>
                            <div id="tag-list" class="scrolling menu" style="display: none">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="fitted item">
                    <div class="ui breadcrumb class-ui-breadcrumb">
                    </div>
                </div>
                <div class="right fitted item">
                    <div id="file-buttons" class="ui tiny blue buttons">
                        <a href="/haxi/gitWeb/_new/master/" class="ui button">
                            New file
                        </a>


                        <a href="/haxi/gitWeb/_upload/master/" class="ui button">
                            Upload file
                        </a>

                    </div>


                    <div class="ui action small input" id="clone-panel">

                    </div>

                </div>
            </div>

            <table id="repo-files-table" class="ui unstackable fixed single line table">
                <thead>
                <tr>
                    <th class="four wide">

                        <img class="ui avatar image img-12"
                             src="https://secure.gravatar.com/avatar/1ef60960c2a690d14a2abbbf63ab0f86?d=identicon">
                        <a href="/haxi"><strong>haxi</strong></a>

                        <a rel="nofollow" class="ui sha label"
                           href="/haxi/gitWeb/commit/b780a75d2d62d8473df9b0968238e4454245fea1">b780a75d2d</a>
                        <span class="grey has-emoji">Add 'test1.txt'</span>
                    </th>
                    <th class="nine wide">
                    </th>
                    <th class="three wide text grey right age"><span class="time-since poping up" title=""
                                                                     data-content="Sun, 30 Apr 2023 08:03:29 UTC"
                                                                     data-variation="inverted tiny">6 hours ago</span>
                    </th>
                </tr>
                </thead>
                {# 展示仓库文件 #}
                <tbody class="class-files-tboody">
                </tbody>
            </table>

                        <div id="file-content" class="tab-size-8"></div>


            {#            <div id="file-content" class="tab-size-8">#}
{#                <h4 class="ui top attached header" id="repo-read-file">#}
{##}
{#                    <i class="octicon octicon-file-text ui left"></i>#}
{#                    <strong>test1.txt</strong> <span class="text grey normal">1.6 KB</span>#}
{##}
{##}
{#                    <div class="ui right file-actions">#}
{#                        <div class="ui buttons">#}
{##}
{#                            <a class="ui button"#}
{#                               href="/haxi/gitWeb/src/0294fbb51704fcdf69d178fc308262c577f75f5c/test1.txt">Permalink</a>#}
{##}
{#                            <a class="ui button" href="/haxi/gitWeb/commits/master/test1.txt">History</a>#}
{#                            <a class="ui button" href="/haxi/gitWeb/raw/master/test1.txt">Raw</a>#}
{#                        </div>#}
{##}
{##}
{#                        <a href="/haxi/gitWeb/_edit/master/test1.txt"><i#}
{#                                class="octicon octicon-pencil btn-octicon poping up" data-content="Edit this file"#}
{#                                data-position="bottom center" data-variation="tiny inverted"></i></a>#}
{##}
{##}
{#                        <a href="/haxi/gitWeb/_delete/master/test1.txt"><i#}
{#                                class="octicon octicon-trashcan btn-octicon btn-octicon-danger poping up"#}
{#                                data-content="Delete this file" data-position="bottom center"#}
{#                                data-variation="tiny inverted"></i></a>#}
{##}
{##}
{#                    </div>#}
{##}
{#                </h4>#}
{#                <div class="ui unstackable attached table segment">#}
{#                    <div id="" class="file-view code-view has-emoji">#}
{##}
{#                        <table>#}
{#                            <tbody>#}
{#                            <tr>#}
{##}
{#                                <td class="lines-num"><span id="L1">1</span><span id="L2">2</span><span id="L3">3</span><span#}
{#                                        id="L4">4</span><span id="L5">5</span><span id="L6">6</span><span#}
{#                                        id="L7">7</span><span id="L8">8</span><span id="L9">9</span><span#}
{#                                        id="L10">10</span><span id="L11">11</span><span id="L12">12</span><span#}
{#                                        id="L13">13</span><span id="L14">14</span><span id="L15">15</span><span#}
{#                                        id="L16">16</span><span id="L17">17</span><span id="L18">18</span><span#}
{#                                        id="L19">19</span><span id="L20">20</span><span id="L21">21</span><span#}
{#                                        id="L22">22</span><span id="L23">23</span><span id="L24">24</span><span#}
{#                                        id="L25">25</span><span id="L26">26</span><span id="L27">27</span><span#}
{#                                        id="L28">28</span><span id="L29">29</span><span id="L30">30</span></td>#}
{#                                <td class="lines-code"><pre><code class="nohighlight"><ol class="linenums"><li#}
{#                                        class="L1" rel="L1">第一次测试</li>#}
{#<li class="L2" rel="L2">数据构造模块是为了解决不同业务对于基础数据和流量数据的差异化构造流程。提出了两个关键的概念：数据构造逻辑和数据构造流程。数据构造逻辑，是数据构造的细粒度可复用的基本单元，由一段Java代码表示。平台提供统一抽象的数据构造接口，基于Java动态编译技术，开发了一个Java版的脚本引擎，支持构造逻辑的在线编辑与更新。同时，基于美团RPC中间件泛化调用能力，构建了泛化调用工具，帮助用户把外部基础数据构造接口的调用集成到一个数据构造逻辑中。</li>#}
{#<li class="L3" rel="L3">数据构造流程，定义了压测基础数据和流量数据生成的整个流程。通过与Quake的交互，获取原始真实的线上数据；构建了一个简版的流程引擎，在统一设定的流程中，如图6所示，通过在标准扩展槽中，配置不同类型的数据构造逻辑和执行顺序，来定义整个数据构造执行的流程；最后，把构造的流量数据与Quake压测场景绑定，作为后续Quake压测施压中，场景回放流量的来源。</li>#}
{#<li class="L4" rel="L4">通过这样的设计，能够支持任意数据构造逻辑，通用灵活。同时集成了Quake已有的流量录制功能，一键执行数据构造流程，大大地提升了效率。</li>#}
{#<li class="L5" rel="L5">&lt;table&gt;</li>#}
{#<li class="L6" rel="L6">  &lt;thead&gt;</li>#}
{#<li class="L7" rel="L7">    &lt;tr&gt;</li>#}
{#<li class="L8" rel="L8">      &lt;th&gt;Month&lt;/th&gt;</li>#}
{#<li class="L9" rel="L9">      &lt;th&gt;Savings&lt;/th&gt;</li>#}
{#<li class="L10" rel="L10">    &lt;/tr&gt;</li>#}
{#<li class="L11" rel="L11">  &lt;/thead&gt;</li>#}
{#<li class="L12" rel="L12">  &lt;tbody&gt;</li>#}
{#<li class="L13" rel="L13">    &lt;tr&gt;</li>#}
{#<li class="L14" rel="L14">      &lt;td&gt;January&lt;/td&gt;</li>#}
{#<li class="L15" rel="L15">      &lt;td&gt;$100&lt;/td&gt;</li>#}
{#<li class="L16" rel="L16">    &lt;/tr&gt;</li>#}
{#<li class="L17" rel="L17">    &lt;tr&gt;</li>#}
{#<li class="L18" rel="L18">      &lt;td&gt;February&lt;/td&gt;</li>#}
{#<li class="L19" rel="L19">      &lt;td&gt;$80&lt;/td&gt;</li>#}
{#<li class="L20" rel="L20">    &lt;/tr&gt;</li>#}
{#<li class="L21" rel="L21">  &lt;/tbody&gt;</li>#}
{#<li class="L22" rel="L22">  &lt;tfoot&gt;</li>#}
{#<li class="L23" rel="L23">    &lt;tr&gt;</li>#}
{#<li class="L24" rel="L24">      &lt;td&gt;Sum&lt;/td&gt;</li>#}
{#<li class="L25" rel="L25">      &lt;td&gt;$180&lt;/td&gt;</li>#}
{#<li class="L26" rel="L26">    &lt;/tr&gt;</li>#}
{#<li class="L27" rel="L27">  &lt;/tfoot&gt;</li>#}
{#<li class="L28" rel="L28">&lt;/table&gt;</li>#}
{#<li class="L29" rel="L29"></li>#}
{#<li class="L30" rel="L30"></li>#}
{#</ol></code></pre>#}
{#                                </td>#}
{##}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </div>

</div>

<!-- 工具 -->
<script type="text/javascript" charset="utf-8" src="../static/compileJs/utils.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/compileJs/type.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/compileJs/api.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/compileJs/action.js"></script>
<!-- 业务逻辑 -->
<script type="text/javascript" charset="utf-8" src="../static/compileJs/repo.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/compileJs/file.js"></script>
<script>
    RepoContainer.initRepoDetail()
    FileContainer.bindEvent()
    RepoContainer.bindPathSectionEvent()
</script>
<!-- -->
<link rel="stylesheet" href="/static/css/plugins/highlight-9.18.0/github.css">
<script src="/static/css/plugins/highlight-9.18.0/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/static/js/libs/emojify-1.1.0.min.js"></script>
<script src="/static/js/libs/clipboard-2.0.4.min.js"></script>
</body>
</html>
