.class-display {
    margin-top: 30px;
    font-size: 60px;
    border: 1px dashed;
}

body {
    background: #ecf6db;
    position: relative;
}

.class-box {
    background: white;
    padding: 30px;
    border-radius: 30px;
    width: 750px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

.class-form-add-repo {
    margin-left: 3px;
}

.class-button-add-repo {
    background:  #c4fec5;
}

.class-input-add-repo {
    display: none;
    width: 300px;
}

.input-display {
    display: inline-block;
}

.class-container {
    display: flex;
}

.class-repo-list {
    border: 1px dashed;
    width: 100px;
    height: 750px;
    display: inline-block;
    margin: 3px;
    background: aliceblue;
    border-radius: 5px;
}

.msg-member-title {
    text-align: center;
    margin: 5px;
    font-size: 16px;
}

.class-repo-name {
    height: 30px;
    margin: 3px 3px 1px;
    text-align: center;
    border: 1px solid;
    font-size: 18px;
    border-radius: 5px;
}

.current-room {
    background-color: #e9e4f2;
}

.msg-body {
    background: white;
    display: inline-block;
    width: 520px;
    height: 750px;
    border: 1px dashed;
    margin: 3px;
    border-radius: 5px;
}

.msg-member {
    border: 1px dashed;
    width: 100px;
    height: 750px;
    display: inline-block;
    margin: 3px;
    background: aliceblue;
    border-radius: 5px;
}

.msg-title {
    margin: 5px;
}

#id-title {
    text-align: left;
    margin-left: 10px;
}

.msg-list {
    width: 500px;
    height: 590px;
    border: 1px dashed;
    overflow: auto;
    background: #eff8ff;
    text-align: center;
    margin: 0 auto 5px;
}

.msg-input {
    text-align: center;
}

#id-input {
    width: 500px;
    height: 100px;
    border: 1px dashed;
    word-break:break-all;
    overflow: auto;
    font-size: 15px;
}

.msg-cell-me-username, .msg-cell-you-username, .msg-cell-notice {
    font-size: 12px;
    color: #a0abcb;
    padding: 5px;
}

.msg-cell-me, .msg-cell-you {
    margin: 5px;
}

#msg-cell-me-msg {
    background: rgb(237 222 240);
    text-align-last: start;
}

#msg-cell-you-msg {
    background: rgb(218 245 253);
}

.msg-cell-msg {
    border-width: 1px ;
    padding: 10px 15px;
    border-radius: 5px;
    word-break:break-all;
    display: inline-block;
    max-width: 400px;
    font-size: 16px;
}

.msg-cell-me {
   text-align: right;
}

.msg-cell-you {
   text-align: left;
}

.msg-cell-avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 22px;
}

.msg-cell-avatar {
    display: inline-block;

}

.msg-cell-body {
    display: inline-block;
}

.msg-member-avatar, .msg-member-username {
    display: inline-block;
}

.msg-member-avatar {
    margin-left: 4px;
}

.msg-member-avatar-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: -4px;
}

.msg-member-cell {
    margin-left: 5px;
}

.msg-member-username {
    font-size: 15px;
}